@using PTPager.Web2.Models
@model ScreenData
@{
    Layout = null;
}
<html>

<head>
    <title>Screens</title>
</head>
<body>

    <table>
        @foreach (var item in Model.Screens)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Label, "Screens", "phoneapp", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

</body>
<softkey index="1" label="Home" action="SoftKey:Home" />
<softkey index="2" label="Exit" action="SoftKey:Exit" />
</html>