
@{
    Layout = null;

    string message = ViewBag.Message;
    string mode = @ViewBag.CurrentMode;
}
<html>

<head>
</head>
<body>
    <h1>@message</h1>
    <h2>Current Mode: @mode</h2>
</body>
<softkey index="1" label="Home" action="SoftKey:Home" />
<softkey index="2" label="Exit" action="SoftKey:Exit" />
</html>